.add-item {
    /* background-color:#A3EBB1; */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .add-item button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 8px;
  }
  
  .add-item__actions button{
    cursor: pointer;
    border: 1px solid #63a869;
    border-radius: 8px;
}

  .add-item button:hover,
  .add-item button:active {
    background-color: #63a869;
  }
  
  .add-item__actions{
    display: flex;
    justify-content: center;
  }


  
  /* .add-metric button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
   */
   
  /* .add-metric button.alternative:hover,
  .add-metric button.alternative:active {
    background-color: #ff7b25;
  } */