.add-item {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin-top:  100px;
  }
  
  .add-item button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 8px;
  }
  
  .add-button{
    cursor: pointer;
    color: #fff;
    background-color: #feb236;
    border-radius: 8px;
    border: 1px solid #fff;
  }
 
  .add-button:hover,
  .add-button:active {
    background-color:   #45796a;
    color: #fff;
    border: 1px solid  #fff;
  }
  
  .add-item__actions{
    display: flex;
    justify-content: center;
  }

