.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    /* background-color: #21B6A8; */
    border-radius: 20px;
    margin: 0.5rem 1rem;
}

.item__meal {
    display: flex;  
    gap: 5rem;
    justify-content: space-evenly;
    flex: 1;
    
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
   
    
}

.item__date{
    padding: 0 1rem;
}

.item h3 {
    font-size: 1rem;
    flex: 1;
    color: #fff; 
    margin: 0px;
    font-weight: 800;
    text-align: center;
    background-color: #A3EBB1;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: max-content;

}
.item h4 {
    font-size: 1rem;
    flex: 1;
    color: #1c5828;
    margin: 0px;
    font-weight: 800;
    text-align: center;
}


.item__calories {
    font-size: 16px;
    color: white;
    font-weight:600;
    background-color: #A3EBB1;
    padding: 0.5rem;
    border-radius: 12px;
    margin:0 1rem;
}


.delete__item{
    background-color:red;
    padding: 0.5rem;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    cursor: pointer;

}
.delete__item:hover,
.delete__item:active{
    background-color: #fff;
    padding: 0.5rem;
    color: red;
    border-radius: 8px;
    border: 1px solid #fff;
}

/* @media (min-width: 580px) {
    .item__meal {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    .item h3, h4{
        font-size: 1.25rem;
    }

    .item__calories {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
} */